p
{
	color :red;
}

h1
{
	text-align:center;
	color:green;
}
h3
{
	color:red;
}

button
{
	position:center;
}
input
{
	width:250;
	height:25;
}
h2
{
	color:black;
	text-align:center;
}

fieldset
{
	text-align:center;
	width:50%;
	height:85%;
}
img
{
	text-align:center;
	width:100px;
	height:100px;
}
#per
{
	
	margin-left:50%;
	width:200;
	height:200;
}

#aa
{
	width:500;
	height:350;
	margin-left:60%;
}

