p
{
	color :red;
}

h1
{
	text-align:center;
	color:green;
}
h3
{
	color:red;
}

button
{
	position:center;
}
input
{
	width:250;
	height:20;
}
input[type="radio"]
{
	width:30;
	height:15;
}
h2
{
	color:black;
	text-align:center;
}

fieldset
{
	text-align:center;
	width:40%;
	height:75%;
}
img
{
	text-align:center;
	width:100px;
	height:100px;
}
#per
{
	
	margin-left:60%;
	width:250;
	height:250;
	margin-top:-80%;
}

#aa
{
	width:500;
	height:350;
	margin-left:50%;
}


