
h1
{
	color:#090;
	text-align:center;
}
h3
{
	text-align:center;
	color:red;
}
h4
{
	text-align:center;
}


#img {
  width: 100px;
  height: 100px;
  border: 1px #23282d solid; 
}
#ofppt
{
	width:700px;
	height:400px;
	text-align:center;
	margin-right:50%;
}

#button
{
	text-align:center;
	color:red;
}
#ident
{
	color:black;
	text-align:center;
	
}
#Mot
{
	color:black;
	text-align:center;
}
input[type="text"]
{
	width:190
	;
	height:25;
}
fieldset
{
	width:855;
	
}


	  
